auto-install-peers = true

@zeiss:registry=https://pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/registry/
always-auth=true
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/registry/:_auth=${ZEISS_NPM_REGISTRY_TOKEN}